{% extends 'app/base.html' %}

{% block titulo %}Listado de deseos {% endblock %}

{% block contenido %}

{% include 'app/menu.html' %}

<div class="container">
    <div class="row mt-5"> 
        <div class="col-md-6">
            <h2>Agregar un nuevo item a la lista de deseos</h2>
            <hr>
            <form action="/wish_items/create/" method="POST">
                {% comment %} idea= cambiar el form action de este formulario por el de agregar a mi lista de deseos = NO FUNCIONARIA POR QUE LA LISTA DE DESEOS SOLICITA UN ID - ENTONCES SERIA IDEAL QUE LAS CITAS CREADAS POR MI MISMO FUERAN DIRECTO A MI LISTA DE DESEOS{% endcomment %}

                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
        
                {% for field in form %}
                <div class="mb-3 row">
        
        
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {% if field.errors %}
        
                    <div class="alert alert-danger mt-1" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
        
                    {% endif %}
                </div>
        
                {% endfor %}
                <button class="btn btn-primary offset-4" type="submit">Enviar</button>
            </form>

        </div>
    </div>

</div>

{% endblock %}